@model ARS.Models.ApplicationUser
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="body container">
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="container">
        <h4>Change your profile</h4>
        <hr />
        <div style="display : flex">
            <div style="width:50%;">
                <form action="/Account/UpdateAspNetUser">
                    <div class="form-group">
                        <label for="key">First Name</label>
                        <input type="text" class="form-control" required="true" name="firstName" id="key" value="@Model.firstName">
                    </div>
                    <div class="form-group">
                        <label for="key">Last Name</label>
                        <input type="text" class="form-control" required="true" name="lastName" id="key" value="@Model.lastName">
                    </div>
                    <div class="form-group">
                        <label for="key">User Identity Code</label>
                        <input type="text" class="form-control" required="true" name="userIdentityCode" value="@Model.userIdentityCode" id="key">
                    </div>
                    <div class="form-group">
                        <label for="key">Address</label>
                        <input type="text" class="form-control" required="true" name="address" value="@Model.address" id="key">
                    </div>
                    <div class="form-group">
                        <label for="key">Phone Number</label>
                        <input type="text" class="form-control" required="true" name="phoneNumber" value="@Model.PhoneNumber" id="key">
                    </div>
                    <div class="form-group">
                        <label for="key">Email</label>
                        <input type="text" class="form-control" required="true" name="email" value="@Model.Email" id="key">
                    </div>
                    <div class="form-group">
                        <label for="key">Prefered Credit Card Number</label>
                        <input type="text" class="form-control" required="true" name="preferedCreditCardNumber" value="@Model.preferedCreditCardNumber" id="key">
                    </div>
                    <!--<div class="form-group">
            <label>Select your trip</label>
            <select name="select-trip" required="">
                <option value="">Any</option>
                <option value="#">City Travel</option>
                <option value="#">Cultural Travel</option>
                <option value="#">Family Travel</option>
                <option value="#">Holiday Travel</option>
                <option value="#">Luxury Travel</option>
                <option value="#">Wild &amp; Adventure Travel</option>
            </select>
        </div>
        <div class="form-group">
            <label>Destination</label>
            <select name="destination" required="">
                <option value="">Any</option>
                <option value="#">Asia</option>
                <option value="#">Africa</option>
                <option value="#">America</option>
                <option value="#">Australia</option>
                <option value="#">Europe</option>
                <option value="#">Rusia</option>
            </select>
        </div>
        <div class="form-group">
            <label>Duration</label>
            <select name="duraion" required="">
                <option value="">Any</option>
                <option value="#">1 Day Travel</option>
                <option value="#">2 Days Travel</option>
                <option value="#">3 Days Travel</option>
                <option value="#">4 Days Travel</option>
                <option value="#">5 Days Travel</option>
                <option value="#">1 week Travel</option>
            </select>
        </div>
        <div class="form-group">
            <label>Date</label>
            <div id="filterDate2">-->
                    <!-- Datepicker as text field -->
                    <!--<div class="input-group date" data-date-format="dd/mm/yyyy">
                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" required="">
                    <div class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
            </div>
        </div>-->
                    <input class="btn-frm-search" value="Update" type="submit">
                </form>
            </div>

            <div style="width:50%;">
                <h1>
                    Your Balance is :
                </h1> @Model.balance

                <h2>
                    You have traveled with us :
                </h2>@Model.skyMiles kilometers

            </div>
        </div>
        @*<dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
            </dl>*@
    </div>
</div>