@model IEnumerable<ARS.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<link href="~/Content/admin-view.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/eac163b655.js"></script>

<h2>Transactions List</h2>


<script type="text/javascript">


</script>


<table id="example" class="display">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Created Date</th>
            <th scope="col">Updated Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @if (item.type == 0)
                    {
                        <span>Paypal</span>
                    }
                    else if (item.type == 1)
                    {
                        <span>Visa</span>
                    }
                    else if (item.type == 2)
                    {
                        <span>Local Banking</span>
                    }
                    else
                    {
                        <span>Google Pay</span>
                    }
                </td>
                <td>
                    @if (item.type == 0)
                    {
                        <span>Pending</span>
                    }
                    else if (item.type == 1)
                    {
                        <span>Success</span>
                    }
                    else
                    {
                        <span>Cancel</span>
                    }
                </td>
                <td>
                    @Convert.ToDateTime(@item.createdAt).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(@item.updatedAt).ToString("dd/MM/yyyy")
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>*@
            </tr>
        }
    </tbody>

</table>
<div id="reportrange" style="margin-bottom:20px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 30%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js" crossorigin="anonymous"></script>
    <script>
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate();
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {

                var start = moment().subtract(29, 'days');
                var end = moment();
                
                function cb(start, end) {
                    $('#reportrange span').html(start.format('YYYY MMMM, D') + ' - ' + end.format('YYYY MMMM, D'));
                }

                $('#reportrange').daterangepicker({
                    "autoApply": true,
                    startDate: start,
                    endDate: end,
                    ranges: {
                        'Today': [moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                    var startDate = picker.startDate.format('YYYY-MM-DD');
                    var endDate = picker.endDate.format('YYYY-MM-DD');
                    var data = [];
                    var labels = [];
                    $.ajax({
                        type: "GET",
                        url: "/Admin/DataChart1",
                        datatype: "Json",
                        data: { start: startDate, end: endDate },
                        success: function (dataChart) {
                            for (var i = 0; i < dataChart.length; i++) {
                                labels.push(ToJavaScriptDate(dataChart[i].date));
                                data.push(dataChart[i].price);
                            }
                            renderChart(data, labels);
                        }
                    })
                });

                function renderChart(data, labels) {
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Price',
                                data: data,
                            }]
                        },
                    });
                }

                cb(start, end);
                function startChart() {
                    var startDate = start.format('YYYY-MM-DD');
                    var endDate = end.format('YYYY-MM-DD');
                    var data = [];
                    var labels = [];
                    $.ajax({
                        type: "GET",
                        url: "/Admin/DataChart1",
                        datatype: "Json",
                        data: { start: startDate, end: endDate },
                        success: function (dataChart) {
                            for (var i = 0; i < dataChart.length; i++) {
                                labels.push(ToJavaScriptDate(dataChart[i].date));
                                data.push(dataChart[i].price);
                            }
                            renderChart(data, labels);
                        }
                    })
                }
                startChart();
            });
            
        });
        
    </script>
}