@model IEnumerable<ARS.Models.Transaction>

@{
    ViewBag.Title = "Transactions List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/admin-view.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://use.fontawesome.com/eac163b655.js"></script>

<h2>@ViewBag.Title</h2>

<table id="example" class="display">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Created Date</th>
            <th scope="col">Updated Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td style="text-align: center">
                    $@Html.DisplayFor(modelItem => item.price)
                </td>
                <td style="text-align: center">
                    @if (item.type == 0)
                    {
                        <span>Paypal</span>
                    }
                    else if (item.type == 1)
                    {
                        <span>Visa</span>
                    }
                    else if (item.type == 2)
                    {
                        <span>Local Banking</span>
                    }
                    else
                    {
                        <span>Google Pay</span>
                    }
                </td>
                <td style="text-align: center">
                    @if (item.type == 0)
                    {
                        <span>Pending</span>
                    }
                    else if (item.type == 1)
                    {
                        <span>Success</span>
                    }
                    else
                    {
                        <span>Cancel</span>
                    }
                </td>
                <td style="text-align: center">
                    @Convert.ToDateTime(@item.createdAt).ToString("dd/MM/yyyy")
                </td>
                <td style="text-align: center">
                    @Convert.ToDateTime(@item.updatedAt).ToString("dd/MM/yyyy")
                </td>
            </tr>
        }
    </tbody>

</table>
<div id="reportrange" style="margin-bottom:20px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 30%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js" crossorigin="anonymous"></script>
    <script>
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate();
        }
<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; margin-top: 50px">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>
<div id="curve_chart" style="width: 900px; height: 500px"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            const typesList = {
                0: 'Select type',
                1: 'Paypal',
                2: 'Visa',
                3: 'Local Banking',
                4: 'Google Pay'
            };
            const statusList = {
                0: 'Select status',
                1: 'Pending',
                2: 'Success',
                3: 'Cancel'
            };
            $('#example thead tr').clone(true).appendTo('#example thead');
            $('#example thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (title.toLowerCase() == "type") {
                    var selectOpen = "<select id='type'>";
                    var selectClose = "</select>";
                    for (const [key, value] of Object.entries(typesList)) {
                        var option;
                        if (key == 0) {
                            option = `<option value="${key}" disabled selected> ${value}</option>`;
                        } else {
                            option = `<option value="${key}"> ${value}</option>`;
                        }
                        selectOpen += option;
                    }
                    selectOpen = selectOpen + selectClose;
                    $(this).html(selectOpen);
                } else if (title.toLowerCase() == "status") {
                    var selectOpen = "<select id='status'>";
                    var selectClose = "</select>";
                    for (const [key, value] of Object.entries(statusList)) {
                        if (key == 0) {
                            option = `<option value="${key}" disabled selected> ${value}</option>`;
                        } else {
                            var option = `<option value="${key}"> ${value}</option>`;
                        }
                        selectOpen += option;
                    }
                    selectOpen = selectOpen + selectClose;
                    $(this).html(selectOpen);
                } else {
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                }

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });

                $('select', this).on('change', function () {
                    if (table.column(i).search() !== this.value) {
                        if (this.id == "type") {
                            table
                                .column(i)
                                .search(typesList[this.value])
                                .draw();
                        } else {
                            table
                                .column(i)
                                .search(statusList[this.value])
                                .draw();
                        }
                    }
                });
            });


            var table = $('#example').DataTable({
                orderCellsTop: true,
                fixedHeader: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            chart_data = [{ creatAt: new Date('2021-01-10'), price: Number('2000') },
            { creatAt: new Date(2021, 12, 12), price: Number('3000') },
            { creatAt: new Date('2021-01-12'), price: Number('4000') },
            { creatAt: new Date('2021-01-13'), price: Number('5000') },
            { creatAt: new Date('2021-01-14'), price: Number('6000') },
            { creatAt: new Date('2021-01-15'), price: Number('7000') },
            { creatAt: new Date('2021-01-16'), price: Number('8000') },
            { creatAt: new Date('2021-01-17'), price: Number('9000') },
            { creatAt: new Date('2021-01-18'), price: Number('10000') }]
            $(function () {

                var start = moment().subtract(29, 'days');
                var end = moment();
                
                function cb(start, end) {
                    $('#reportrange span').html(start.format('YYYY MMMM, D') + ' - ' + end.format('YYYY MMMM, D'));
                }

                $('#reportrange').daterangepicker({
                    "autoApply": true,
                    startDate: start,
                    endDate: end,
                    ranges: {
                        'Today': [moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                    var startDate = picker.startDate.format('YYYY-MM-DD');
                    var endDate = picker.endDate.format('YYYY-MM-DD');
                    var data = [];
                    var labels = [];
                    $.ajax({
                        type: "GET",
                        url: "/Admin/DataChart1",
                        datatype: "Json",
                        data: { start: startDate, end: endDate },
                        success: function (dataChart) {
                            for (var i = 0; i < dataChart.length; i++) {
                                labels.push(ToJavaScriptDate(dataChart[i].date));
                                data.push(dataChart[i].price);
                            }
                            renderChart(data, labels);
                        }
                    })
                });

                function renderChart(data, labels) {
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Price',
                                data: data,
                            }]
                        },
                    });
                }

                cb(start, end);
                function startChart() {
                    var startDate = start.format('YYYY-MM-DD');
                    var endDate = end.format('YYYY-MM-DD');
                    var data = [];
                    var labels = [];
                    $.ajax({
                        type: "GET",
                        url: "/Admin/DataChart1",
                        datatype: "Json",
                        data: { start: startDate, end: endDate },
                        success: function (dataChart) {
                            for (var i = 0; i < dataChart.length; i++) {
                                labels.push(ToJavaScriptDate(dataChart[i].date));
                                data.push(dataChart[i].price);
                            }
                            renderChart(data, labels);
                        }
                    })
                }
                startChart();
            });
            
        });
        
    </script>
}