@model IEnumerable<ARS.Models.Flight>

@{
    ViewBag.Title = "Flights List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<style>
    .myBtn {
        border: none;
        background-color: #fc9f1c;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<button type="button" class="btn btn-content btn-lg" data-toggle="modal" data-target="#myModal" style="margin-bottom: 10px;">Add New Flight</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: auto">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Create Flight</strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/Admin/CreateFlight" method="post" id="flightForm">
                    <div class="form-group">
                        <label for="planeCode">Plane Code:</label>
                        <input name="planeCode" />
                    </div>
                    <div class="form-group">
                        <label for="departureDate">Departure Date:</label>
                        <input type="date" name="departureDate" />
                    </div>
                    <div class="form-group">
                        <label for="planCode">Arrival Date:</label>
                        <input type="date" name="arrivalDate" />
                    </div>
                    <div class="form-group">
                        <label for="flyTime">Fly time estimate:</label>
                        <input type="number" name="flyTime" />
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" name="price" />
                    </div>
                    <div class="form-group">
                        <label for="distance">Distance :</label>
                        <input type="number" name="distance" />
                    </div>
                    <div class="form-group">
                        <label for="planCode">Plan Status:</label>
                        <select>
                            <option value="1">Active</option>
                            <option value="0">Deactive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="planCode">Airport Departure:</label>
                        <select id="dropdownAirportArrival" name="fromAirportId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="planCode">Airport Arrival:</label>
                        <select id="dropdownAirportDeparture" name="toAirportId">
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="submitFlight">
                    Submit
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<table id="example1" class="display">
    <thead>
        <tr>
            <th scope="col" style="width: 60px">ID</th>
            <th scope="col">Plane Code</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Seats Available</th>
            <th scope="col">Departure Time</th>
            <th scope="col" hidden></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.planeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAirport.CityAirports.First().City.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAirport.CityAirports.First().City.name)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.seatAvaiable)
                </td>
                <td style="text-align: center">
                    @Convert.ToDateTime(@item.arrivalDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @*@Html.ActionLink("Detail", "FlightDetail", new { id = item.id }, new { @style = "color: #fc9f1c" })*@
                    <!-- Trigger/Open The Modal -->
                    <button type="button" class="btn myBtn btn-lg" data-toggle="modal" data-target="#myModal1" style="font-size: 13px"
                            data-id="@item.id" data-plane-code="@item.planeCode" data-from="@item.ToAirport.CityAirports.First().Airport.name"
                            data-to="@item.ToAirport.CityAirports.First().Airport.name" data-departure-date="@Convert.ToDateTime(@item.departureDate).ToString("dd/MM/yyyy")"
                            data-arrival-date="@Convert.ToDateTime(@item.arrivalDate).ToString("dd/MM/yyyy")" data-flyTime="@item.flyTime h"
                            data-price="@item.price" data-distance="@item.distance" data-haveStop="@item.haveStop" data-seat-available="@item.seatAvaiable"
                            data-status="@item.status">
                        Detail
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content" style="width: inherit">
                                <span class="close">&times;</span>
                                <div class="col-md-12 row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li><strong>ID: </strong><span id="id">@item.id</span></li>
                                            <li><strong>Plane Code: </strong><span id="planCode">@item.planeCode</span></li>
                                            <li><strong>From: </strong><span id="fromAirport">@item.FromAirport.CityAirports.First().Airport.name</span></li>
                                            <li><strong>To: </strong><span id="toAirport">@item.ToAirport.CityAirports.First().Airport.name</span></li>
                                            <li><strong>Departure date: </strong><span id="departureDate">@Convert.ToDateTime(@item.departureDate).ToString("dd/MM/yyyy")</span></li>
                                            <li><strong>Arrivale date: </strong><span id="arrivalDate">@Convert.ToDateTime(@item.arrivalDate).ToString("dd/MM/yyyy")</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li><strong>Duration: </strong><span id="flyTime">@item.flyTime</span> h</li>
                                            <li><strong>Price: </strong>$<span id="price">@item.price</span></li>
                                            <li><strong>Distance: </strong><span id="distance">@item.distance</span></li>
                                            <li><strong>Stop: </strong><span id="haveStop">@item.haveStop</span></li>
                                            <li><strong>Status: </strong><span id="status">@item.status</span></li>
                                            <li><strong>Total seats available: </strong><span id="seat-available">@item.seatAvaiable</span></li>
                                            @*<li style="list-style: none; padding-left: 30px"><strong>Bussiness: </strong>@item.seatAvaiableBusiness</li>
        <li style="list-style: none; padding-left: 30px"><strong>First: </strong>@item.seatAvaiableFirst</li>
        <li style="list-style: none; padding-left: 30px"><strong>Club: </strong>@item.seatAvaiableClub</li>
        <li style="list-style: none; padding-left: 30px"><strong>Smoking: </strong>@item.seatAvaiableSmoking</li>
        <li style="list-style: none; padding-left: 30px"><strong>Non-smoking: </strong>@item.seatAvaiableNonSmoking</li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>

        // Get the modal
        var modal = document.getElementById("myModal");
        var modal1 = document.getElementById("myModal1");

        // Get the button that opens the modal
        var btn = document.getElementsByClassName("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span1 = document.getElementsByClassName("close")[1];
        console.log(span1);

        // When the user clicks on the button, open the modal
        $(".myBtn").on("click", function () {
            modal.style.display = "block";
            console.log($(this).data("plane-code"));
            $("#id").text($(this).data("id"));
            $("#planCode").text($(this).data("plane-code"));
            $("#fromAirport").text($(this).data("from"));
            $("#toAirport").text($(this).data("to"));
            $("#departureDate").text($(this).data("departure-date"));
            $("#arrivalDate").text($(this).data("arrival-date"));
            $("#flyTimes").text($(this).data("flytime"));
            $("#price").text($(this).data("price"));
            $("#distance").text($(this).data("distance"));
            $("#stop").text($(this).data("havestop"));
            $("#status").text($(this).data("status"));
            $("#totalSeatAvailable").text($(this).data("departure-date"));
        })

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        span1.onclick = function () {
            modal1.style.display = "none";
        }


        window.onclick = function (event) {
            if (event.target == modal1) {
                modal.style.display = "none";
            }
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $('#dropdownAirportArrival').empty();
        $('#dropdownAirportDeparture').empty();
        $.ajax({
            type: "POST",
            url: "/Admin/AirportsJson",
            datatype: "Json",
            success: function (data) {
                $.each(data, function (index, value) {
                    console.log(value)
                    $('#dropdownAirportDeparture').append('<option value="' + value.id + '">' + value.name + '</option>');
                    $('#dropdownAirportArrival').append('<option value="' + value.id + '">' + value.name + '</option>');
                });
            }
        });

        $('#submitFlight').on("click", function () {
            $('#flightForm').submit();
        })
    </script>
}


