@model ARS.Controllers.FlightSearchListModel

@{
    ViewBag.Title = "Choose Flights";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<link href="~/Content/ticket-view.css" rel="stylesheet" />

<div class="body container">
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="container">
        @foreach (var data in Model.departureFlights)
        {
            <h4>Depart @data.FromAirport.CityAirports.First().City.name, @data.FromAirport.CityAirports.First().City.country to @data.ToAirport.CityAirports.First().City.name, @data.ToAirport.CityAirports.First().City.country</h4>
            <h5>Depart on @data.departureDate.ToString("D") and return on @data.departureDate.ToString("D")</h5>}
        <hr />
        <div class="flight-results-container">
            <div class="col-md-6">
                <ul class="search-result">
                    @foreach (var item in Model.departureFlights)
                    {
                        <li class="">
                            <div class="row flight-details">
                                <div class="col-md-4 flight-infos">
                                    <span class="airport-code">@item.FromAirport.CityAirports.First().Airport.code</span>
                                    <span class="flight-time">
                                        @item.departureDate.ToString("t")
                                    </span>
                                </div>
                                <div class="col-md-3 arrow">
                                    <span aria-hidden="true" class="ti-arrow-right" />
                                </div>
                                <div class="col-md-4 flight-infos">
                                    <span class="airport-code">@item.ToAirport.CityAirports.First().Airport.code</span>
                                    <span class="flight-time">
                                        @item.arrivalDate.ToString("t")
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flight-infos">
                                        @if (item.haveStop)
                                        {
                                            <div class="tooltip1">
                                                Stop: @item.Stops.Count()
                                                <span class="tooltiptext">@item.Stops.First().City.CityAirports.First().Airport.code: @item.Stops.First().City.CityAirports.First().Airport.name</span>
                                            </div>
                                            <span>
                                                First route: @item.FromAirport.CityAirports.First().Airport.code
                                                <span aria-hidden="true" class="ti-control-play"></span>

                                                @item.Stops.First().City.CityAirports.First().Airport.code
                                            </span>
                                            <span>
                                                Second route: @item.Stops.First().City.CityAirports.First().Airport.code
                                                <span aria-hidden="true" class="ti-control-play"></span>
                                                @item.ToAirport.CityAirports.First().Airport.code
                                            </span>
                                        }
                                        <span class="flight-number">Plane code: @item.planeCode</span>
                                        <span class="flight-duration">
                                            Duration: @item.flyTime hours
                                        </span>
                                        <span class="select-seats">Seats</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <span class="vertical-line"></span>

            @if (Model.returnFlights != null)
            {
                <div class="col-md-6">
                    <ul class="search-result">
                        @foreach (var item in Model.returnFlights)
                        {
                            <li class="">
                                <div class="row flight-details">
                                    <div class="col-md-4 flight-infos">
                                        <span class="airport-code">@item.FromAirport.CityAirports.First().Airport.code</span>
                                        <span class="flight-time">
                                            @item.departureDate.ToString("t")
                                        </span>
                                    </div>
                                    <div class="col-md-3 arrow">
                                        <span aria-hidden="true" class="ti-arrow-right" />
                                    </div>
                                    <div class="col-md-4 flight-infos">
                                        <span class="airport-code">@item.ToAirport.CityAirports.First().Airport.code</span>
                                        <span class="flight-time">
                                            @item.arrivalDate.ToString("t")
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="flight-infos">
                                            @if (item.haveStop)
                                            {
                                                <div class="tooltip1">
                                                    Stop: @item.Stops.Count()
                                                    <span class="tooltiptext">@item.Stops.First().City.CityAirports.First().Airport.code: @item.Stops.First().City.CityAirports.First().Airport.name</span>
                                                </div>
                                                <span>
                                                    First route: @item.FromAirport.CityAirports.First().Airport.code
                                                    <span aria-hidden="true" class="ti-control-play"></span>

                                                    @item.Stops.First().City.CityAirports.First().Airport.code
                                                </span>
                                                <span>
                                                    Second route: @item.Stops.First().City.CityAirports.First().Airport.code
                                                    <span aria-hidden="true" class="ti-control-play"></span>
                                                    @item.ToAirport.CityAirports.First().Airport.code
                                                </span>
                                            }
                                            <span class="flight-number">Plane code: @item.planeCode</span>
                                            <span class="flight-duration">
                                                Duration: @item.flyTime hours
                                            </span>
                                            <span class="select-seats">Seats</span>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

<script>
    console.log(localStorage.getItem("orderSeat"));
</script>