@model IList<ARS.Models.Flight>

@{
    ViewBag.Title = "Choose Flights";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="body container">
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="container">
        @*<h4>Depart @Model.First().FromAirport.CityAirports.First().City.name, @Model.First().FromAirport.CityAirports.First().City.country to @Model.First().ToAirport.CityAirports.First().City.name, @Model.First().ToAirport.CityAirports.First().City.country</h4>*@
        <h5>@Model.First().departureDate.ToString("D")</h5>
        <hr />
        <div id="flightResultsContainer">
            <ul class="search-result">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="tripInfo row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span class="airport-code">BHM</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <span class="airport-code">YYC</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <span class="flight-time">
                                            @item.departureDate.ToString("t")
                                        </span>
                                    </div>
                                    <div class="col-lg-1">
                                        <span aria-hidden="true" class="glyphicon-arrow-right"></span>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="flight-time">
                                            @item.arrivalDate.ToString("t")
                                        </span>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="flight-duration">
                                            @item.flyTime
                                            <span>h</span>
                                        </div>
                                    </div>
                                    @if (item.haveStop)
                                    {
                                        <div class="col-lg-2">
                                            <div class="flight-stop">
                                                <div class="num-tooltip">
                                                    <button id="flight1StopCountLink_desktop" class="stop-count">
                                                        1 Stop
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-6"></div>
                        </div>
                    </li>
                }
            </ul>
            @*<table>
                    <thead>
                        <th></th>
                        <th>PlaneCode</th>
                        <th>FromAirport</th>
                        <th>ToAirport</th>
                        <th>Distance</th>
                        <th>Price</th>
                        <th>SeatAvailable</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="/Flight/Place/@item.id">Seats</a></td>
                                <td>@item.planeCode</td>
                                <td>
                                    @foreach (var city in item.FromAirport.CityAirports)
                                    {
                                        @city.City.name
                                    }
                                </td>
                                <td>
                                    @foreach (var city in item.ToAirport.CityAirports)
                                    {
                                        @city.City.name
                                    }
                                </td>
                                <td>
                                    @item.distance
                                </td>
                                <td>
                                    @string.Format("{0:C0}", item.price)
                                </td>
                                <td>
                                    @item.seatAvaiable
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>*@
        </div>
    </div>

</div>